<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Stand Products</title>
</head>
<body>
    <h1><%= category.charAt(0).toUpperCase() + category.slice(1) %>  Products</h1>
    <ul>
        <% for (let product of products) { %>
            <li><a href="/products/<%= product._id %> "><%= product.name %> </a></li>      
        <% } %> 
    </ul>

    <form action="/products" method="get">
        <label for="category">Filter by category</label>
        <select name="category" id="category">
            <% for(let category of categories) { %>
                <option value="<%=category%>"><%=category%></option>
           <% } %> 
        </select>
        <button>Filter</button>
    </form>
    <% if(category!=='All') {%> 
        <a href="/products">Clear filter</a>
    <% } %> 
    <br><a href="/products/new">Add new product</a>
    
</body>
</html>